@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Namdhinggo&family=Noto+Sans:ital@0;1&family=Noto+Serif:ital@0;1&display=swap');

/* Változók */

:root{
    --height100vh: 100vh;
    --navfooterColor: hsl(226, 83%, 30%);
    --container-fluidColor: rgba(255, 255, 255, .80);
    --greyBackground: rgba(167, 167, 167, 0.7);
    --colorWhite: white;
    --padding: 1rem;
    --fontSize: 1rem;
    --absolutePosition: absolute;
    --heightPercent: 100%;
    --widthPercent: 100%;
}

/* // Változók */

* {
    scrollbar-width: thin;
    scrollbar-color: #989898 #ffffff;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 3px none #ffffff;
}

/* Important!! */
*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: var(--height100vh);
    height: var(--heightPercent);
}
body{
    min-height: var(--height100vh);
    height: var(--height100vh);
    display: flex;
    flex-direction: column;
    background: url('../images/background.jpg') center/cover no-repeat;
    background-attachment: fixed;
}

/* // Important!! */

/* Navbar to X */

.navbar-toggler {
    width: 2rem;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
}
.toggler-icon {
    display: block;
    position: var(--absolutePosition);
    height: 3px;
    width: var(--widthPercent);
    background: grey;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar {
    margin-top: 0px;
}
.navbar-toggler.collapsed .top-bar {
    position: var(--absolutePosition);
    top: 0px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: var(--absolutePosition);
    top: 10px;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
    position: var(--absolutePosition);
    top: 20px;
    transform: rotate(0deg);
}
.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}
.navbar{
    background-color: var(--navfooterColor)
}
.navbar-brand img{
    height: 3.125rem;
}

/* //Navbar End */

/* Container */

.container-fluid {
    background-color: var(--container-fluidColor);
    max-width: 95rem;
    height: calc(100vh - 8.75rem);
    padding-bottom: 75rem;
}
@media screen and (max-width: 785px) {
    .container-fluid{
        padding-bottom: 105rem;
    }    
}
@media screen and (max-width: 576px) {
    .container-fluid{
        padding-bottom: 140rem;
    }    
}

@media screen and (max-width: 576px) {
    .container-fluid{
        padding-bottom: 140rem;
    }    
}

/* //Container */

h1{
    text-align: center;
    font-family: "Noto Serif", serif;
    padding: var(--padding);
}
.container-fluid img{
    border:5px solid var(--colorWhite);
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    outline: 1px solid rgb(220, 220, 220);
    float: right;
}
p{
    font-size: 1.5rem;
}

/* Footer  */

span{
    font-weight: bold;
}
.footer{
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: var(--navfooterColor);
    color: var(--colorWhite);
    font-family: "Noto Sans", sans-serif;
    margin-top: auto;
    padding: var(--padding);
    padding-top: 2rem;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
}
@media screen and (max-width: 1350px) {
    footer ul{
        gap: 5rem;
    }
}
@media screen and (max-width: 785px){
    footer{
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        padding-top: 2rem;
        font-size: 1.2rem;
        margin-top: auto;
    }
    footer ul{
        list-style: none;
        display: block;
        flex-wrap: wrap;
    }
}

/* //Footer  */